## DEPENDENCIES ######################################################
node_modules

## LOGS ##############################################################
logs
*.log

## GENERATED #########################################################
dist
