@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500;600&family=IBM+Plex+Sans:wght@300;400;500;600&display=swap");

@layer reset {
	html {
		color-scheme: dark;
		hanging-punctuation: first allow-end last;
	}

	body {
		min-block-size: 100vb;
		font-family: "IBM Plex Sans", system-ui, sans-serif;
		line-height: 1.5;
		color: var(--ui-foreground);
		background: var(--ui-background);
		-webkit-font-smoothing: antialiased;
	}

	button {
		font: inherit;
		cursor: pointer;
	}

	input {
		font: inherit;
	}

	*,
	*::before,
	*::after {
		box-sizing: border-box;
		padding: 0;
		margin: 0;
	}

	@media (prefers-reduced-motion: no-preference) {
		html {
			interpolate-size: allow-keywords;

			&:focus-within {
				scroll-behavior: smooth;
			}
		}

		@view-transition {
			navigation: auto;
		}
	}
}
